.page-container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.navbar ul {
    display: flex;
}

.main-layout {
    display: flex;
}

.left-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right-panel {
    flex: 3
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}